# compiled output
/dist
/tmp
/out-tsc
/logs/

# scala specifics
*.class
*.log

# sbt specific
*.iml

.metals
.bloop
.cache/
.history/
.lib/
dist/*
target/
.settings
.settings/
.project
.classpath
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
*.launch

*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
**/.vscode/*

# OS metadata
.DS_Store
Thumbs.db
# misc
/coverage

# Logs
logs

# Others
.temp
report.*.json
sbt-dist/**/*
