<configuration status="warn" packages="org.apache.logging.log4j.core,io.sentry.log4j2">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <Sentry name="Sentry"/>
        <appender name="rollingFile" class="org.apache.log4j.RollingFileAppender">
            <param name="file" value="${LOG_DIR}/application.log"/>
            <param name="MaxFileSize" value="10MB"/>
            <param name="MaxBackupIndex" value="5"/>
            <layout class="org.apache.log4j.PatternLayout">
                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n"/>
            </layout>
        </appender>
    </appenders>


    <loggers>
        <root level="INFO">
            <appender-ref ref="Console"/>
            <!-- Note that the Sentry logging threshold is overridden to the WARN level -->
            <appender-ref ref="Sentry" level="WARN"/>
        </root>
    </loggers>
</configuration>